.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.dek{
color: orange;
}
.user{
color: green;
}


.btn{
  margin-top: 4rem;
  padding: 20px;

}
#humenBtn{
  margin-right: 350px;
  padding: 10px 20px;
  background-color: orangered;
  border-radius: 10px;
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all .3s ease-out;
}

#ComputerBtn{
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  background-color: orangered;
  border: none;
  color: #fff;
  transition: all .3s ease-out;
}


footer {
  margin-top: 5%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
